# Ignore Laravel environment file
.env
.env.development
.env.production

# Ignore vendor and node_modules (jika belum ditulis)
vendor/
node_modules/

# Ignore Vite build
public/build/

# Ignore user-generated database, logs, and cache
storage/*.key
storage/app/public/*
storage/framework/*
storage/logs/*

# Ignore Repos directory and contents
Repos/
Docker/db/data/*

# Sertificate 
*.crt

site/*

Docker/db/data/*
Docker/db/sql/*
Docker/redis/data/