[Unit]
Description=SIIMUT Application
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ app_dir }}/siimut-image-docker
ExecStart=/usr/local/bin/docker-compose -f docker-compose-new.yml up -d
ExecStop=/usr/local/bin/docker-compose -f docker-compose-new.yml down
TimeoutStartSec=0
User={{ app_user }}
Group={{ app_user }}

[Install]
WantedBy=multi-user.target